<html>
  <body>
    <p>Hello,</p>
    <p>You have been invited to join our platform.</p>
    {{#if tempPassword}}
      <p>You can log in here: <a href="{{loginUrl}}">{{loginUrl}}</a></p>
      <p>Your account credentials:</p>
      <ul>
        <li><strong>Email:</strong> {{email}}</li>
        <li><strong>Temporary password:</strong> {{tempPassword}}</li>
      </ul>
      <p>Please log in using the temporary password and you will be prompted to change it on first login.</p>
    {{/if}}
    <p>If you did not expect this invitation, you can ignore this email.</p>
    <p>Thank you,<br/>The Team</p>
    <p style="font-size: 0.8em; color: #888;">&copy; {{currentYear}} NextBrain</p>
  </body>
</html>
